<h1>Auctions</h1>
<p> Next Events: </p>
<ul>
    <% @auctions.each do |auction| %>
        <li>
            <%= auction.title %> on <%= auction.date %>
        </li>
    <% end %>
</ul>

<%= link_to "New Auction", "auctions/new" %>
