<h1>Auctions</h1>
<p> Next Events: </p>
<ul>
    <% @auctions.each do |auction| %>
        <li>
            on <%= auction.date %>: <%= link_to auction.title, show_auction_path(id:auction.id) %>
        </li> 
    <% end %>
</ul>

<%= link_to "New Auction", "auctions/new" %>
