<div id="<%= dom_id auction_item %>">
  <p>
    <strong>Opening bid:</strong>
    <%= auction_item.opening_bid %>
  </p>

  <p>
    <strong>Sold for:</strong>
    <%= auction_item.sold_for %>
  </p>

  <p>
    <strong>Payment status:</strong>
    <%= auction_item.payment_status %>
  </p>

</div>
