<h1>Editing auction item</h1>

<%= render "form", auction_item: @auction_item %>

<br>

<div>
  <%= link_to "Show this auction item", @auction_item %> |
  <%= link_to "Back to auction items", auction_items_path %>
</div>
