<h1>Edit Auction Item</h1>

<%= render "form", auction_item: @auction_item %>

<br>

<div>
  <%= link_to "Show this auction item", @auction_item %> |
  <%= link_to "Back to Auction", show_auction_path(@auction_item.auction.id) %>
</div>
