
<h1>Auction Item Details</h1>

<%= render @auction_item %>

<div>
  <% if policy(@auction_item).edit? %>
    <%= link_to "Edit this Auction Item", edit_auction_item_path(@auction_item) %>
  <% end %><br>
  <%= link_to "Back to Auction", show_auction_path(@auction_item.auction) %>

  <% if policy(@auction_item).destroy? %>
    <%= button_to "Destroy this auction item", @auction_item, method: :delete %>
  <% end %>
</div>
